{{range .}}{{$opid := .OperationId}}
{{range .Bodies}}
{{if .IsSupported -}}
{{$contentType := .ContentType -}}
{{with .TypeDef $opid}}
// {{withPrefix .TypeName}} defines body for {{$opid}} for {{$contentType}} ContentType.
type {{withPrefix .TypeName}} {{if .IsAlias}}={{end}} {{.Schema.TypeDecl}}
{{end}}
{{end}}
{{end}}
{{end}}