{{range .Types}}
{{ if .Schema.Description }}{{ toGoComment .Schema.Description (withPrefix .TypeName)  }}{{ else }}// {{withPrefix .TypeName}} defines model for {{.JsonName}}.{{ end }}
type {{withPrefix  .TypeName}} {{if .IsAlias }}={{end}} {{.Schema.TypeDecl}}
{{end}}
